<%- include ('partials/_header.ejs') %>
<!-- slider section -->
<div class="slider_section">
  

  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 offset-lg-1">
              <div class="detail-box">
                <div class="heading_box">
                  <h2 style="font-size: 40px !important; color: white !important;"> <%= user.name %> </h2>
                  <h1 style="font-size: 55px !important; color: gold !important;">Group H</h1>
                </div>
                <div class="mt-5">
                  <a href="/projects/<%= user.slug %>" class="m-3" style="color: white !important;">
                    My Projects
                  </a>
                  <a href="/posts/<%= user.slug %>" class="m-3" style="color: white !important;">
                    My Posts
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 px-0">
              <div class="img-box">
                <% if (user.name === "Tansel Berkant Oflaz") { %>
                  <img src="images/slider-img.png" alt="" />
                <% } else if(user.name === "Kemal Yanmaz") { %>
                  <img src="images/slider-img2.png" alt="" />
                <% }%>         
              </div>
            </div>
          </div>
        </div>
      </div>

    

      <div class="carousel-item ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 offset-lg-1">              
                <div class="heading_box">
                  <h3 class="text-warning"><%= user.name %></h3>
                  <p class="text-white">E-mail: <%= user.email %></p>
                  <h5 class="text-warning">Education:</h5>
                  <% for(let i = 0; i < user.education.length; i++) { %>
                    <li class="text-white"><%= user.education[i] %></li>
                  <% } %>
                  <h5 class="text-warning">Specialties</h5>
                  <% for(let i = 0; i < user.specialties.length; i++) { %>
                    <span class="text-white"> <%= user.specialties[i] %> -</span>
                  <% } %>
                  <h5 class="text-warning">Languages</h5>
                  <% for(let i = 0; i < user.languages.length; i++) { %>
                    <li class="text-white"><%= user.languages[i] %></li>
                  <% } %>

                </div>                              
            </div>
            <div class="col-lg-5 px-0">
              <div class="img-box">
                <% if (user.name === "Tansel Berkant Oflaz") { %>
                  <img src="images/slider-img.png" alt="" />
                <% } else if(user.name === "Kemal Yanmaz") { %>
                  <img src="images/slider-img2.png" alt="" />
                <% }%>                
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
  <div class="slider_btn-container">
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- end slider section -->
</div>
<!-- end hero area -->

<%- include ('partials/_footer.ejs') %>